.wrap{background-color: #eee;}
.pcWrap{}
.mWrap{position: relative;min-height: 100vh;width: 100%;max-width: 390px;margin: 0 0 0 calc(50vw + 0px);background-color: #fff;box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);overflow: hidden;}

header{position: relative;background: #fff;z-index: 99;-webkit-transition: all 0.3s ease;transition: all 0.3s ease;}
.headerWrap:after{content: "";display: block;clear: both;}
.headerWrap .logo{float: left;margin: 11px 0 11px 16px;}
.headerWrap .logo img.off{display: block;}
.headerWrap .logo img.on{display: none;}
.headerWrap #btnGnbOpen{float: right;position: relative;display: block;width: 42px;height: 42px;margin: 14px 16px 14px 0;background-image: url(../images/icon_gnb_open.svg);background-position: center;background-repeat: no-repeat;overflow: hidden;text-indent: -9999px;white-space: nowrap;}
.progress{position: absolute;bottom: -3px;left:0;width: 100%;height: 3px;overflow: hidden;background-color: white;}
.progress .bar{float: left;width: 0%;max-width: 100%;height: 100%;background-color:#FF0097;z-index: 99;-webkit-transition: width .4s ease;-o-transition: width .4s ease;transition: width .4s ease;-webkit-backface-visibility: hidden;}
#gnb {position: fixed;top: 0;left: calc(50vw + 0px);right: 0;bottom: 0;max-width: 390px;height: 100%;background-color: rgba(0, 0, 0, 0.7);-webkit-overflow-scrolling: touch;z-index: 9999;opacity: 0;visibility: hidden;overflow-y: auto;-webkit-transition: all 0.5s ease;transition: all 0.5s ease;-webkit-transition-property: opacity, visibility;transition-property: opacity, visibility;-webkit-transition-delay: 100ms;transition-delay: 100ms;}
#gnb .gnbInner{position: fixed;top: 0;right: 0;left: calc(50vw + 70px);bottom: 0;width: 100%;max-width: 320px;background: #fff;box-sizing: border-box;z-index: 999;-webkit-overflow-scrolling: touch;opacity: 1;}
#gnb .gnbInner > ul{padding: 7px 20px;}
#gnb .gnbInner > ul > li{border-bottom: 1px solid rgba(0, 0, 0, 0.1);box-sizing: border-box;}
#gnb .gnbInner > ul > li:first-child{border-top: 1px solid rgba(0, 0, 0, 0.1);}
#gnb .gnbInner > ul > li > a{position: relative;display: block;font-size: 18px;color: #333;font-weight: 700;line-height: 60px;letter-spacing: -0.6px;}
#gnb .gnbInner > ul > li > a:after{content: "";display: block;position: absolute;top: 50%;right: 11px;width: 8px;height: 16px;margin-top: -8px;background-image: url(../images/icon_gnb_arrow.svg);background-repeat: no-repeat;}
#gnb .gnbInner > ul > li > a:hover{color: #FF0097;}
#gnb .gnbInner > ul > li > a:hover:after{background-image: url(../images/icon_gnb_arrow_on.svg);}
.gnbTop{display: flex;justify-content: space-between;align-items: center;padding: 17px 20px;box-sizing: border-box;}
.gnbTop .snsGroup{display: flex;align-items: center;}
.gnbTop .snsGroup li + li{margin-left: 10px;}
.gnbTop .snsGroup a{display: block;width: 36px;height: 36px;background-repeat: no-repeat;overflow: hidden;text-indent: -9999px;white-space: nowrap;}
.gnbTop .snsGroup .facebook{background-image: url(../images/icon_facebook.svg);}
.gnbTop .snsGroup .instagram{background-image: url(../images/icon_instagram.svg);}
#btnGnbClose {position: absolute;top: 14px;left: -56px;width: 42px;height: 42px;overflow: hidden;text-indent: -9999px;white-space: nowrap;background-image: url(../images/icon_gnb_close.svg);background-position: center;background-repeat: no-repeat;}
#gnb.active {opacity: 1;visibility: visible;-webkit-transition-delay: 0s;transition-delay: 0s;}
header.fixed{position: fixed;top: 0;width: 100%;max-width: 390px;background: rgba(255, 0, 151, 0.6);-webkit-backdrop-filter: blur(2px);backdrop-filter: blur(2px);}
header.fixed .logo img.on{display: block;}
header.fixed .logo img.off{display: none;}
header.fixed #btnGnbOpen{background-image: url(../images/icon_gnb_open_fix.svg);}

footer{position: relative;background: #2E2E2E;padding: 16px 16px 9px;box-sizing: border-box;z-index: 98;}
.footerTop{display: flex;align-items: center;justify-content: space-between;padding-bottom: 14px;border-bottom: 1px solid rgba(217, 217, 217, 0.2);box-sizing: border-box;}
.footerTop .footerText h2{font-size: 15px;color: #fff;font-weight: 700;line-height: 24px;letter-spacing: -0.6px;}
.footerTop .footerText .address{font-size: 12px;color: #ABABAB;font-weight: 400;line-height: 20px;letter-spacing: -0.6px;}
.footerTop .snsGroup{display: flex;align-items: center;}
.footerTop .snsGroup li + li{margin-left: 10px;}
.footerTop .snsGroup a{display: block;width: 36px;height: 36px;background-repeat: no-repeat;overflow: hidden;text-indent: -9999px;white-space: nowrap;}
.footerTop .snsGroup .facebook{background-image: url(../images/icon_facebook.svg);}
.footerTop .snsGroup .instagram{background-image: url(../images/icon_instagram.svg);}
.footerInfo{padding: 14px 0;border-bottom: 1px solid rgba(217, 217, 217, 0.2);box-sizing: border-box;}
.footerInfo li{font-size: 12px;color: #fff;font-weight: 400;line-height: 24px;letter-spacing: -0.6px;}
.footerInfo li span{color: #ABABAB;}
.footerInfo li span:before{content: "";display: inline-block;width: 1px;height: 9px;margin: 0 8px; background-color: #fff;vertical-align: -1px;}
.footerInfo li a{margin-left: 5px;color: #fff;text-decoration-line: underline;}
.copyright{margin-top: 10px;font-size: 12px;color: #B4B4B4;font-weight: 400;line-height: 24px;letter-spacing: -0.6px;}
.copyright span{color: #FF0097;}
#btnTop{opacity: 0;transform: translate(0, 30px);position: fixed;bottom: 30px;left: calc(50vw + 310px);width: 50px;height: 50px;background-color: rgba(255, 0, 151, 0.7);-webkit-backdrop-filter: blur(2px);backdrop-filter: blur(2px);background-image: url(../images/icon_top.svg);background-position: center;background-repeat: no-repeat;border-radius: 50%;overflow: hidden;text-indent: -9999px;white-space: nowrap;transition: 1s;-webkit-transition: 1s;pointer-events: none;z-index: 99;}
#btnTop.show{opacity: 1;transform: translate(0, 0);pointer-events: inherit;}

@media screen and (max-width: 820px){
    .mWrap{max-width: 100%;margin: 0;}
    header.fixed{max-width: 100%;}
    #gnb{left: 0;max-width: 100%;}
    #gnb .gnbInner{left: auto;}
    #btnTop{left: auto;right: 30px;}
}
@media screen and (max-width: 375px){
    #gnb .gnbInner{width: calc(100% - 70px);}
}
@media screen and (max-width: 320px){
    .gnbLogo{max-width: 100px;}
    .gnbTop .snsGroup li + li{margin-left: 5px;}
}