.wrap{background-color: #eee;}
.pcWrap{}
.mWrap{position: relative;min-height: 100vh;width: 100%;max-width: 390px;margin: 0 0 0 calc(50vw + 0px);background-color: #fff;box-shadow: 0px 0px 20px #0000001a;overflow: hidden;}

header{position: relative;z-index: 99;-webkit-transition: all 0.5s ease;transition: all 0.5s ease;}
.headerWrap{}
.headerWrap:after{content: "";display: block;clear: both;}
.headerWrap .logo{float: left;margin: 23px 0 27px 16px;}
.headerWrap .logo img.off{display: block;}
.headerWrap .logo img.on{display: none;}
.headerWrap #btnGnbOpen{float: right;position: relative;display: block;width: 42px;height: 42px;margin: 14px 16px 14px 0;background-image: url(../images/icon_gnb_open.png);background-position: center;background-repeat: no-repeat;overflow: hidden;text-indent: -9999px;white-space: nowrap;}
.progress{position: absolute;bottom: -3px;left:0;width: 100%;height: 3px;overflow: hidden;background-color: white;}
.progress .bar{float: left;width: 0%;max-width: 100%;height: 100%;background-color:#FF0097;z-index: 99;-webkit-transition: width .4s ease;-o-transition: width .4s ease;transition: width .4s ease;}
#gnb {position: fixed;top: 0;left: calc(50vw + 0px);right: 0;bottom: 0;max-width: 390px;height: 100%;background-color: rgba(0, 0, 0, 0.7);-webkit-overflow-scrolling: touch;z-index: 9999;opacity: 0;visibility: hidden;overflow-y: auto;-webkit-transition: all 0.5s ease;transition: all 0.5s ease;-webkit-transition-property: opacity, visibility;transition-property: opacity, visibility;-webkit-transition-delay: 100ms;transition-delay: 100ms;}
#gnb .gnbInner{position: fixed;top: 0;right: 0;left: calc(50vw + 70px);bottom: 0;width: 100%;max-width: 320px;background: #fff;box-sizing: border-box;z-index: 999;transform: translateX(0);-webkit-transform: translateX(0);transition-duration: 0.5s;-webkit-transition-duration: 0.5s;-webkit-overflow-scrolling: touch;opacity: 1;}
#gnb .gnbInner > ul{padding: 7px 20px;}
#gnb .gnbInner > ul > li{border-bottom: 1px solid rgba(0, 0, 0, 0.1);box-sizing: border-box;}
#gnb .gnbInner > ul > li:first-child{border-top: 1px solid rgba(0, 0, 0, 0.1);}
#gnb .gnbInner > ul > li > a{position: relative;display: block;font-size: 18px;color: #333;font-weight: 700;line-height: 60px;letter-spacing: -0.6px;}
#gnb .gnbInner > ul > li > a:after{content: "";display: block;position: absolute;top: 50%;right: 11px;width: 8px;height: 16px;margin-top: -8px;background-image: url(../images/icon_gnb_arrow.svg);background-repeat: no-repeat;}
#gnb .gnbInner > ul > li > a:hover{color: #FF0097;}
#gnb .gnbInner > ul > li > a:hover:after{background-image: url(../images/icon_gnb_arrow_on.svg);}
.gnbTop{display: flex;justify-content: space-between;align-items: center;padding: 17px 20px;box-sizing: border-box;}
.gnbTop .snsGroup{display: flex;align-items: center;}
.gnbTop .snsGroup li + li{margin-left: 10px;}
.gnbTop .snsGroup a{display: block;width: 36px;height: 36px;background-repeat: no-repeat;overflow: hidden;text-indent: -9999px;white-space: nowrap;}
.gnbTop .snsGroup .facebook{background-image: url(../images/icon_facebook.png);}
.gnbTop .snsGroup .instagram{background-image: url(../images/icon_instagram.png);}
#btnGnbClose {position: absolute;top: 14px;left: -56px;width: 42px;height: 42px;overflow: hidden;text-indent: -9999px;white-space: nowrap;background-image: url(../images/icon_gnb_close.png);background-position: center;background-repeat: no-repeat;}
#gnb.active {opacity: 1;visibility: visible;-webkit-transition-delay: 0s;transition-delay: 0s;}
#gnb.active .gnbInner{transform: translateX(0);-webkit-transform: translateX(0);transition-duration: 0.5s;-webkit-transition-duration: 0.5s;}
header.fixed{position: fixed;top: 0;width: 100%;max-width: 390px;background: rgba(255, 0, 151, 0.6);backdrop-filter: blur(2px);}
header.fixed .logo img.on{display: block;}
header.fixed .logo img.off{display: none;}
header.fixed #btnGnbOpen{background-image: url(../images/icon_gnb_open_fix.png);}

footer{background: #2E2E2E;padding: 16px 16px 9px;box-sizing: border-box;}
.footerTop{display: flex;align-items: center;justify-content: space-between;padding-bottom: 14px;border-bottom: 1px solid rgba(217, 217, 217, 0.2);box-sizing: border-box;}
.footerTop .footerText{}
.footerTop .footerText h2{font-size: 15px;color: #fff;font-weight: 700;line-height: 24px;letter-spacing: -0.6px;}
.footerTop .footerText .address{font-size: 12px;color: #ABABAB;font-weight: 400;line-height: 20px;letter-spacing: -0.6px;}
.footerTop .snsGroup{display: flex;align-items: center;}
.footerTop .snsGroup li + li{margin-left: 10px;}
.footerTop .snsGroup a{display: block;width: 36px;height: 36px;background-repeat: no-repeat;overflow: hidden;text-indent: -9999px;white-space: nowrap;}
.footerTop .snsGroup .facebook{background-image: url(../images/icon_facebook.png);}
.footerTop .snsGroup .instagram{background-image: url(../images/icon_instagram.png);}
.footerInfo{padding: 14px 0;border-bottom: 1px solid rgba(217, 217, 217, 0.2);box-sizing: border-box;}
.footerInfo li{font-size: 12px;color: #fff;font-weight: 400;line-height: 24px;letter-spacing: -0.6px;}
.footerInfo li span{color: #ABABAB;}
.footerInfo li span:before{content: "";display: inline-block;width: 1px;height: 9px;margin: 0 8px; background-color: #fff;vertical-align: middle;}
.copyright{margin-top: 10px;font-size: 12px;color: #B4B4B4;font-weight: 400;line-height: 24px;letter-spacing: -0.6px;}
.copyright span{color: #FF0097;}
#btnTop{opacity: 0;transform: translate(0, 30px);position: fixed;bottom: 30px;left: calc(50vw + 310px);width: 50px;height: 50px;background-color: rgba(255, 0, 151, 0.7);backdrop-filter: blur(2px);background-image: url(../images/icon_top.svg);background-position: center;background-repeat: no-repeat;border-radius: 50%;overflow: hidden;text-indent: -9999px;white-space: nowrap;transition: 1s;-webkit-transition: 1s;pointer-events: none;}
#btnTop.show{opacity: 1;transform: translate(0, 0);pointer-events: inherit;}



.mapWrap{position: relative;}
.btnMyLocation{position: absolute;left: 10px;bottom: 30px;width: 42px;height: 42px;background: #FFFFFF;border: 1px solid #E0E0E0;box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);border-radius: 5px;background-image: url(../images/icon_myLocation.svg);background-position: center;background-repeat: no-repeat;box-sizing: border-box;overflow: hidden;text-indent: -9999px;white-space: nowrap;z-index: 2;}
.shopSlideWrap{padding: 25px 16px 40px;background-size: cover;background-position: center;background-repeat: no-repeat;box-sizing: border-box;}
.shopSlideWrap.shop10oclock{background-image: url(../images/bg_shop10oclock.jpg);}
.shopName{font-size: 28px;color: #FFFFFF;font-weight: 700;line-height: 32px;text-align: center;letter-spacing: -0.6px;}
.shopAddress{font-size: 15px;color: #FFFFFF;font-weight: 400;line-height: 18px;text-align: center;letter-spacing: -0.6px;opacity: 0.9;}
.shopName + .shopAddress:before{content: "";display: block;width: 10px;height: 1px;margin: 7px auto 11px;background-color: #fff;}
.shopSlide{margin-bottom: 0 !important;margin-top: 24px;}
.shopSlide .shopItem{}
.shopSlide .shopItem img{margin: 0 auto;border-radius: 10px;overflow: hidden;}
.shopSlide .slick-dots{position: inherit;bottom: inherit;line-height: 0;margin-top: 15px;}
.shopSlide .slick-dots li{width: 5px;height: 5px;margin: 0;vertical-align: middle;}
.shopSlide .slick-dots li + li{margin-left: 5px;}
.shopSlide .slick-dots li button{width: 100%;height: 100%;padding: 0;background-color: rgba(255, 255, 255, 0.3);border-radius: 5px}
.shopSlide .slick-dots li button:before{display: none;}
.shopSlide .slick-dots li.slick-active{width: 15px;}
.shopSlide .slick-dots li.slick-active button{background-color: rgba(255, 255, 255, 0.85);}
.shopInfo{position: relative;display: flex;align-items: flex-start;justify-content: space-between;padding: 20px 0;margin-top: 15px;border-top: 1px solid rgba(255, 255, 255, 0.3);border-bottom: 1px solid rgba(255, 255, 255, 0.3);box-sizing: border-box;}
.shopInfo:before{content: "";position: absolute;top: 20px;left: 33.3%;display: block;width: 1px;height:  calc(100% - 40px);background-color: rgba(255, 255, 255, 0.3);border-radius: 30px;}
.shopInfo:after{content: "";position: absolute;top: 20px;left: 66.6%;display: block;width: 1px;height:  calc(100% - 40px);background-color: rgba(255, 255, 255, 0.3);border-radius: 30px;}
.shopInfo li{flex: 1;display: flex;justify-content: center;flex-direction: column;flex-wrap: wrap;margin: 9px 0;text-align: center;}
.shopInfo li strong{margin-top: 9px;font-size: 15px;color: #fff;font-weight: 700;line-height: 26px;letter-spacing: -0.6px;}
.shopInfo li p{margin-top: 4px;font-size: 13px;color: #fff;font-weight: 400;line-height: 20px;letter-spacing: -0.6px;word-break: keep-all;}
.scrollDown{position: relative;margin-top: 30px; text-align: center;-webkit-animation: scrollDown 2.2s infinite;-moz-animation: scrollDown 2.2s infinite;-ms-animation: scrollDown 2.2s infinite;-o-animation: scrollDown 2.2s infinite;animation: scrollDown 2.2s infinite;}
.scrollDown p {margin-bottom: 6px;font-size: 13px;color: #fff;font-weight: 700;line-height: 26px;letter-spacing: -0.8px;-webkit-transition: all 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);transition: all 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);-webkit-transition-delay: .4s;transition-delay: .4s;}
.scrollDown i {position: relative;display: inline-block;width: 18px;height: 27px;border: 1px solid #fff;border-radius: 15px;box-sizing: border-box;}
.scrollDown i:after {content: "";position: absolute;top: 5px;left: 50%;transform: translateX(-50%);width: 1px;height: 6px;border-radius: 2px;background: #fff;-webkit-animation: scrollDownIcon 2s infinite;-moz-animation: scrollDownIcon 2s infinite;-ms-animation: scrollDownIcon 2s infinite;-o-animation: scrollDownIcon 2s infinite;animation: scrollDownIcon 2s infinite;}
.shopDetails{background: #F9F9F9;}
.detailsType01{text-align: left;}
.detailsType01 img{display: block;margin: 0 auto;}
.detailsType01 .detailsTitle{padding: 30px 16px 0;font-size: 22px;color: #000000;font-weight: 700;line-height: 26px;letter-spacing: -0.7px;word-break: keep-all;}
.detailsType01 .detailsTitle:before{content: "";display: block;width: 20px;height: 1px;margin-bottom: 10px;background: #222222;}
.detailsType01 .detailsText{padding: 20px 16px 26px;font-size: 15px;color: #444444;font-weight: 400;line-height: 22px;letter-spacing: -0.6px;word-break: keep-all;}
.detailsType02{margin: 16px;padding: 10px 10px 35px;background: #FFFFFF;box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.15);border-radius: 10px;box-sizing: border-box;text-align: center;}
.detailsType02 img{display: block;margin: 0 auto;border-radius: 10px;}
.detailsType02 .detailsTitle{padding: 30px 0 0;font-size: 22px;color: #000000;font-weight: 700;line-height: 26px;letter-spacing: -0.7px;word-break: keep-all;}
.detailsType02 .detailsTitle:before{content: "";display: block;width: 20px;height: 1px;margin: 0 auto 10px;background: #222222;}
.detailsType02 .detailsText{padding: 20px 0 0;font-size: 15px;color: #444444;font-weight: 400;line-height: 24px;letter-spacing: -0.6px;word-break: keep-all;}
.detailsType03{background-color: #fff;text-align: left;}
.detailsType03 img{display: block;margin: 0 auto;}
.detailsType03 .detailsTitle{padding: 30px 16px 0;font-size: 22px;color: #000000;font-weight: 700;line-height: 26px;letter-spacing: -0.7px;word-break: keep-all;}
.detailsType03 .detailsTitle:before{content: "";display: block;width: 20px;height: 1px;margin-bottom: 10px;background: #222222;}
.detailsType03 .detailsText{padding: 20px 16px 33px;font-size: 15px;color: #444444;font-weight: 400;line-height: 24px;letter-spacing: -0.6px;word-break: keep-all;}
.scrollLeft{display: flex;align-items: center;justify-content: flex-end;width: 200%;padding: 28px 0 43px;font-size: 70px;color: rgba(0, 0, 0, 0.1);font-weight: 700;line-height: 84px;text-align: center;letter-spacing: -0.6px;white-space: nowrap;}



.shopPin {position: relative;bottom: 65px;border-radius: 10px;box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);}
.shopPin:after {content:"";position: absolute;left: 50%;bottom: -12px;width: 23px;height: 12px;margin-left: -12px;background: url(../images/icon_pinAfter.png)}
.shopPin a{display: block;overflow: hidden;background: #FF0097 url(../images/icon_arrow_white.svg) no-repeat right 15px center;border-radius: 10px;text-align: center;}
.shopPin .name{display: block;margin-right: 38px;padding: 11px 15px;background: #fff;font-size: 13px;color: #333;line-height: 16px;font-weight: 700;letter-spacing: -0.6px;}


@media screen and (max-width: 820px){
    .mWrap{max-width: 100%;margin: 0;}
    header.fixed{max-width: 100%;}
    #gnb{left: 0;max-width: 100%;}
    #gnb .gnbInner{left: auto;}
    #btnTop{left: auto;right: 30px;}
}
@media screen and (max-width: 375px){
    #gnb .gnbInner{width: calc(100% - 70px);}
}



/* scroll down */
@-webkit-keyframes scrollDown {
    0%, 100%{bottom: 0;}
	50% {bottom: 10px;}
}
@-moz-keyframes scrollDown {
    0%, 100%{bottom: 0;}
	50% {bottom: 10px;}
}
@-ms-keyframes scrollDown {
    0%, 100%{bottom: 0;}
	50% {bottom: 10px;}
}
@-o-keyframes scrollDown {
    0%, 100%{bottom: 0;}
	50% {bottom: 10px;}
}
@keyframes scrollDown {
    0%, 100%{bottom: 0;}
	50% {bottom: 10px;}
}

@-webkit-keyframes scrollDownIcon {
    0%{top: 5px;}
	100% {top: 15px;}
}
@-moz-keyframes scrollDownIcon {
    0%{top: 5px;}
	100% {top: 15px;}
}
@-ms-keyframes scrollDownIcon {
    0%{top: 5px;}
	100% {top: 15px;}
}
@-o-keyframes scrollDownIcon {
    0%{top: 5px;}
	100% {top: 15px;}
}
@keyframes scrollDownIcon {
    0%{top: 5px;}
	100% {top: 15px;}
}